case data.type
    when 'edit'
        button(type='button').button_edit
    when 'save'
        button(type='submit').button.button_save=data.text
    when 'cancel'
        button(type='submit').button.button_cancel=data.text
    when 'inc'
        button(type='button').button_inc
    when 'dec'
        button(type='button').button_dec
    when 'close'
        button(type='button').button_close
    when 'add'
        button(type='button').button_add
    when 'next'
        button(type='button').button_next
    when 'prev'
        button(type='button').button_prev