.items-filter {
    display: grid;
    grid-gap: 20px;
    background-color: #E97E22;
    width: 80%;
    min-width: 200px;
    border-radius: 5px;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);

    &__button {
        max-width: 100%;
        width: 100%;
    }
}