mixin circle(type)
    case type
        when 'work'
            .circle.circle-work&attributes(attributes)='P'
        when 'not-work'
            .circle.circle-not-work&attributes(attributes)='ะ'
        when 'stat'
            .circle.circle-stat&attributes(attributes)='ะก'