mixin circle(type)
    case type
        when 'work'
            .circle.circle-work&attributes(attributes)
                .circle__text='P'
        when 'not-work'
            .circle.circle-not-work&attributes(attributes)
                .circle__text='Н'
        when 'stat'
            .circle.circle-stat&attributes(attributes)
                .circle__text='C'