form.login
    include ../../mixins/input/input.pug
    .login__input
        +input('text', 'Логин')
    .login__input
        +input('password', 'Пароль')
    include ../../mixins/button/button.pug
    +button('primary', 'Войти')(class='login__button')