.object {
    display: grid;
    border-radius: 5px;

    &-pion {
        background-color: #2E4158;

        &:hover {
            background-color: #284E7D;
        }
    }

    &-puon {
        background-color: #203B3A;

        &:hover {
            background-color: #235D5B;
        }
    }
}