@font-face {
    font-family: Text;
    src: url('./font/ArialN.woff') format('woff');
};

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    color: #E8E8E8;
    font-family: Text;
    font-size: x-large;
};

a {
    text-decoration: none;
    color: #E8E8E8;
};

p {
    margin: 0;
}

button, input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: unset;
    padding: 0;
    border: none;
}

ul {
    list-style: none;
    margin: 0;
    padding:  0;
}
