mixin item-type(type, text)
    case type
        when 'pion'
            .item-type.item-type_pion&attributes(attributes)=text
        when 'puon'
            .item-type.item-type_puon&attributes(attributes)=text