.contact {
    display: flex;
    flex-direction: column;
    font-size: smaller;
    width: 100%;

    &__name, &__position {
        word-wrap: normal;
    }

    &__phone, &__position {
        margin-top: 10px;
    }
}