.item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "type isWork"
                         "district district"
                         "address address";
    
    grid-row-gap: 20px;
    border-radius: 5px;
    position: relative;
    padding: 30px;
    height: fit-content;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);

    &__type {
        grid-area: type;
    }

    &__is-work {
        grid-area: isWork;
        position: absolute;
        right: 0;
        box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
    }

    &__district {
        grid-area: district;
        color: #E87E21;
    }

    &__address {
        grid-area: address;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: smaller;
        height: 6em;
    }

    &__link {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &-pion {
        background-color: #2E4158;

        &:hover {
            background-color: #284E7D;
        }
    }

    &-puon {
        background-color: #203B3A;

        &:hover {
            background-color: #235D5B;
        }
    }
}