.regular-value {
    display: flex;

    &__inc {

    }

    &__dec {

    }

    &__value {
        display: flex;
        justify-content: center;
        width: 3em;
        margin: 0 10px;
        text-align: center;
    }
}