.main-item {
    width: 100%;
    min-height: 100%;
    padding: 40px 60px;
    box-sizing: border-box;
    position: relative;

    &__content {
        width: calc(100% - 300px);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
        width: min-content;
        align-items: center;
    }

    &__item {
        margin-top: 40px;
    }

    &_pion {
        background-color: #2E4158;
    }

    &_puon {
        background-color: #203B3A;
    }
}