.main-item {
    width: 100%;
    min-height: 100%;
    padding: 40px 60px;
    box-sizing: border-box;
    position: relative;

    &__content {
        width: 100%;
        box-sizing: border-box;
        display: grid;
        grid-template-rows: min-content;
        grid-gap: 40px;
        position: relative;
    }

    &__header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
        width: min-content;
        align-items: center;
    }

    &_pion {
        background-color: #2E4158;
    }

    &_puon {
        background-color: #203B3A;
    }
}