.index-container
    include ../../mixins/title-icon/title-icon.pug
    +title-icon('ОКСИОН')(class='index-container__header')
    include ../../mixins/text/text.pug
    +text('Общероссийскя комплексная система информирования и оповещения населения в местах массового пребывания людей г. Москвы')(class='index-container__text')
    include ../../mixins/button/button.pug
    .index-container__login
        +button('secondary', 'Войти')