.address-edit {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    padding: 20px;
    width: calc(100vw - 400px);
    z-index: 3;
    top: 0;
    background-color: white;
    border-radius: 4px;
    color: #2E4158;
    box-shadow: 2px 4px 0 100vw rgba(0, 0, 0, 0.7);

    &__input {
        width: 100%;
    }
}