.menu
    if data.read
        include ../../mixins/link/link.pug
        +link('/items', 'Объекты')
        +link('/works', 'Работы')
        include ../../mixins/button/button.pug 
        +button('menu', 'Выход')(class='menu__button')