.menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    box-sizing: border-box;
    padding: 30px;
    top: 20px;
    right: 20px;
    background-color: #E8E8E8;
    width: 280px;
    border-radius: 5px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);

    & * {
        margin-bottom: 10px;
    }

    &__button {
        margin-top: 10px;
    }
}